{% load static %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">


  <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'img/bread.ico' %}">

</head>


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->


  {% if user.is_authenticated %}
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
    <div class="sidebar-brand-icon">
      <i class="fas fa-fw fa-bread-slice"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Pancoquito</div>
  </a>
  {% endif %}
  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'home' %}">
      <i class="fas fa-fw fa-home"></i>
      <span>Inicio</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Ordenes
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'crear_orden' %}">
      <i class="fas fa-fw fa-cart-plus"></i>
      <span>Crear Orden</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'orders_view' %}">
      <i class="fas fa-fw fa-receipt"></i>
      <span>Ver Ordenes</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Gestión
  </div>



  <!-- Nav Item - Tables -->
  {% if user.is_authenticated %}
  {% if user.groups.all.0.name == "Admin" or user.is_superuser %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'client_view' %}">
      <i class="fas fa-fw fa-people-arrows"></i>
      <span>Clientes</span>
    </a>
  </li>
  {% endif %}
  {% endif %}

  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'products_view' %}">
      <i class="fas fa-fw fa-warehouse"></i>
      <span>Productos</span>
    </a>
  </li>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>