{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icons=menu,contact_support,admin_panel_settings,settings,monitoring,home,person,logout" />


<nav id="navbar">
    <ul class="navbar-items flexbox-col">
      <li class="navbar-logo flexbox-left">
        <a class="navbar-item-inner flexbox">
          <span class="material-symbols-outlined">
            menu
            </span>
        </a>
      </li>
      <li class="navbar-item flexbox-left">
        <a class="navbar-item-inner flexbox-left" href="{% url 'home' %}" >
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <span class="material-symbols-outlined">
              home
              </span>
          </div>
          <span class="link-text">Inicio</span>
        </a>
      </li>
      <li class="navbar-item flexbox-left">
        <a class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <span class="material-symbols-outlined">
              monitoring
            </span>
          </div>
          <span class="link-text">Dashboard</span>
        </a>
      </li>
      <li class="navbar-item flexbox-left">
        <a class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <span class="material-symbols-outlined">
              contact_support
              </span>
          </div>
          <span class="link-text">Soporte</span>
        </a>
      </li>
      <li class="navbar-item flexbox-left">
        <a class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <span class="material-symbols-outlined">
              admin_panel_settings
              </span>
          </div>
          <span class="link-text">Administrador</span>
        </a>
      </li>
      <li class="navbar-item flexbox-left">
        <a class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <span class="material-symbols-outlined">
              person
              </span>
          </div>
          {% if user.is_authenticated %}
          <span class="link-text">{{user.username}}</span>
          {% else %}
          <span class="link-text">Sin Usuario</span>
          {% endif %}
        </a>
      </li>

      <li class="navbar-item flexbox-left">
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" class="logout-form" style="display: contents;">
            {% csrf_token %}
            <button type="submit" class="navbar-item-inner-logout flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <span class="material-symbols-outlined">logout</span>
                </div>
                <span class="link-text">Cerrar Sesión</span>  
            </button>
        </form>
        {% endif %}
    </li>
    </ul>
  </nav>
